doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href="https://fonts.googleapis.com/css?family=Exo:200|Farsan|Oswald|Roboto+Condensed", rel="stylesheet")
        link(rel='stykesheet', href='/scripts/bootstrap/dist/css/bootstrap.css')
        script(src='scripts/jquery/dist/jquery.js')
        script(src='scripts/bootstrap/dist/js/bootstrap.js')
        script(src='scripts/angular/angular.js')
        script(src='scripts/angularjs-social-login/angularjs-social-login.js')
        script(src='/javascripts/djokr.js')
    body(ng-app="djokrapp")

block content
include menu